body {
  background: black;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 720px !important;
}

section {
  background: radial-gradient(-180px 0px,circle ,#2e5681 300px,#2b3458 500px,#000223);
  background: -moz-radial-gradient(-180px 0px,circle ,#2e5681 300px,#2b3458 500px,#000223);
  background: -webkit-radial-gradient(-180px 0px,circle ,#2e5681 300px,#2b3458 500px,#000223);
  background: -o-radial-gradient(-180px 0px,circle ,#2e5681 300px,#2b3458 500px,#000223);
  border: 3px solid #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 15px;
  font: 18px arial;
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  margin-top: 1em;
}

#nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: black;
  padding-bottom: 10px;
  padding-top: 8px;
}

#nav ul {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

#nav ul a {
  color: #FFF;
  font-weight: bold;
}

#shop {
  margin-bottom: 3.75em;
}

article {
  clear: both;
}

article + article {
  margin-top: 2em;
}

@media (min-width: 768px) {  
  #party-list article {
    padding-right: 1em;
  }
}

.character.reserve .avatar,
.character.reserve .partner {
    filter: grayscale(1);
}

.clear {
  clear: both;
}

figure {
  float: right;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  figure {
    margin-right: 20px;
    float: left;
  }
}

figure img {
  max-width: 100px;
  border: 1px solid white;
  border-radius: 2px;
}

figure .partner {
  position: absolute;
  max-width: 34px;
  top: 69px;
  right: -3px;
  z-index: 1;
}

.stats {
  font-size: 14px;
  margin-right: 120px;
}

@media (min-width: 768px) {
  .stats {
    margin-right: 0;
    margin-left: 120px;
  }

}

table {
  color: white;
}

.ally {
  font-size: 18px;
}

table.status td {
  padding-right: 20px;
  vertical-align: top;
}

.namewrapper {
  margin-bottom: .5em;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.level {
  float: right;
  font-size: 26px;
  font-weight: bold;
}
.level .label {
  margin-right: 0;
}

.partnername {
  font-size: 14px;
  font-weight: bold;
  margin-left: 1em;
}

.window-name {
  font-size: 22px;
  margin-bottom: .5em;
  font-weight: bold;
}

.label {
  color: #20B2AA;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-variant: small-caps;
}

.bar-stats {
  margin-top: .5em;
}

.bar-stats .val-right {
  float: right;
}

.combat-stats {
  margin-top: .5em;
}
.combat-stats .label {
  width: 34px;
}

.wide-stats {
  margin-top: .5em;
}
.wide-stats .label {
  width: 50px;
}

.val-right {
  float: right;
}

.hp {
  margin-right: 120px;
}

.bar {
  height: 2px;
  position: relative;
  background: #111;
}
/* .bar::after {
  content: "";
  height: 2px;
  width: 1px;
  background: white;
  position: absolute;
  right: 0px;
} */

.xpbar,
.hpbar {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: teal;
  /* background: linear-gradient(to right, rgb(20, 102, 255) 60%,rgb(190, 213, 255));
  background: -moz-linear-gradient(to right,rgb(20, 102, 255) 60%,rgb(190, 213, 255));
  background: -webkit-linear-gradient(to right,rgb(20, 102, 255) 60%,rgb(190, 213, 255));
  background: -o-linear-gradient(to right,rgb(20, 102, 255) 60%,rgb(190, 213, 255)); */
}

@media (min-width: 768px) {
.flex {
    margin-top: -1em;
    display: flex;
    flex-wrap: wrap;
  }
}

.flex>* {
  margin-top: 1em;
}
@media (min-width: 768px) {
  .flex>* {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.old {
  color: gray;
  text-decoration: line-through;
}

.new {
  font-weight: bold;
  color: gold;
}

.detail {
  font-size: 14px;
  font-style: italic;
}

.mt {
  margin-top: .5em;
}

.message {
  font-size: 1.2em;
  text-align: center;
}

.mail {
  margin-top: 1em;
}

.letter {
  width: 64px;
  height: auto;
}

.loyalty {
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}

.loyalty .fill {
  color: red;
}

.menu {
  display: inline-block;
  padding: 10px;
}
.menu .selected {
  position: relative;
  left: -5px;
}

.party {
  margin-top: 26px;
  clear: both;
  font-size: 0px;
  width: 100%;
}

.party>* {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
@media (min-width: 768px) {
  .party>* {
    width: 33%;
  }
}

.party .label {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
}

.item {
  font-size: 14px;
}
.item .detail {
  font-size: 12px;
}
@media (min-width: 768px) {
  .item {
    font-size: 18px;
  }
  .item .detail {
    font-size: 14px;
  }
}
.bonus {
  color: #20b25d;
}